
h1 {color:#3d2415;}
h2 {font-size:225%;font-weight:normal; max-width:100%; text-align:center;}
h4, h5, h6 {font-family: "Fjalla One", sans-serif; font-weight:normal; font-size:1.5vw; position:absolute; color:#ffffff;}
address a:link{color:#077c15; text-decoration:none; border-bottom:0;}
address a:visited{color:#077c15; text-decoration:none; border-bottom:0;}
address a:hover{color:#f09f34; text-decoration:none; border-bottom:0;}
address a:active{color:#f09f34; text-decoration:none; border-bottom:0;}
address a:focus{color:#f09f34; text-decoration:none; border-bottom:0;}
span {color:#f09926;}

.background {
    background-color: #264040;
}

.item.item-image {
  border-color: rgba(0, 0, 0, 0);
  padding-bottom: 38px;
}

.item.item-stable {
    border-color: #b2b2b2;
    background-color: #264040;
    color: white;
    opacity: 0.7;
}

.item.active.item-stable {
    border-color: #b2b2b2;
    background-color: #264040;
    color: white;
    opacity: 0.5;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}